<div class="modal-dialog">
    <div class="modal-content border-0">
        <div class="modal-header border-0">
            <h5 class="modal-title" id="exampleModalLabel">Edit Top Skills</h5>
            <button (click)="activeModal.dismiss('Cross click')" type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
            <div class="row">
                <div class="col-md-12 btn-exp">
                    <label class="form-label text-black">Top Skills</label>
                    <div class="py-3 px-3">
                        <button type="button" class="btn btn-outline-primary rounded-pill me-2"
                            *ngFor="let item of editSkillsModel.skills">
                            {{ item.skillName }}</button>
                    </div>
                </div>
                <h6 *ngIf="editSkillsModel.skills.length===0">Not Filled Yet</h6>
            </div>

        </div>
        <div class="modal-footer border-0">
            <button (click)="activeModal.dismiss('Cross click')" class="btn btn-outline-primary rounded-pill px-5">
                Cancel
            </button>
            <button class="btn btn-primary rounded-pill px-5">
                Submit
            </button>
        </div>
    </div>
</div>